body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: url('images/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	background-color: rgba(51, 51, 51, 0.8);
	color: #fff;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header nav {
	display: flex;
	justify-content: center;
}

.header .btn {
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 15px;
	transition: background-color 0.3s ease, color 0.3s ease;
	border: 2px solid #fff;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
}

.header .btn:hover {
	background-color: #fff;
	color: #333;
}

.content-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hero {
	background-image: url('images/background.png');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	max-width: 80%;
}

.info-panel {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	margin-top: 25px;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

.info-panel h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 42px;
	font-family: "Press Start 2P", system-ui;
	font-weight: 400;
	font-style: normal;
}

@media (max-width: 768px) {
	.info-panel h2 {
		font-size: 32px;
	}
}

@media (max-width: 480px) {
	.info-panel h2 {
		font-size: 24px;
	}
}

.info-panel p {
	margin-bottom: 0;
	font-size: 20px;
}

.updates {
	background-color: #333;
	padding: 50px;
	text-align: center;
	color: #fff;
}

.update-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.panel {
	margin: 20px;
	flex: 1;
	max-width: 400px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

.panel:hover {
	transform: translateY(-5px);
}

.twitter-feed h2,
.social-links h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.twitter-feed .twitter-timeline {
	width: 100% !important; /* This line ensures the Twitter feed scales with the panel */
}

.social-links ul {
	list-style-type: none;
	padding: 0;
}

.social-links li {
	margin-bottom: 5px;
}

.social-links a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.social-links a:hover {
	color: #f1c40f;
}

h1 {
	text-align: center;
	font-family: "Press Start 2P", system-ui;
	font-size: 36px;
	color: #fff;
	margin-top: 50px;
}

.game-panels {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
}

.game-panel {
	position: relative;
	width: 400px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

.game-panel:hover {
	transform: translateY(-5px);
}

.game-panel-content {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-logo {
	max-width: 80%;
	max-height: 80%;
}

.game-panel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s ease;
}

.game-panel:hover .game-panel-overlay {
	background-color: rgba(0, 0, 0, 0);
}

.about-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	color: #fff;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

@-moz-document url-prefix() {
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }
}

@media (max-width: 960px) {
	.about-content {
		max-width: 90%;
	}
}

@media (max-width: 768px) {
	.panel {
		max-width: 400px;
	}
	
	.update-container {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 480px) {
	.panel {
		max-width: 300px;
	}
	.about-content {
		max-width: 100%;
	}
	.content-container {
    padding: 20px;
    }
}